:host {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;

  grid-template-areas: 'head head'
                      'firstCurrency secondCurrency';

  justify-self: center;
  margin: 0 auto;
  border: solid 2px gray;

  width: 900px;
  height: 9rem;

 padding: 1%;

  .header {
    grid-area: head;
  }

  .firstCurrency {
    grid-area: firstCurrency;
  }

  .secondCurrency {
    grid-area: secondCurrency;
  }

}
